In [1]:
import pandas as pd
import numpy as np
from manim import *

Manim Community v0.16.0.post0

In [31]:
#import CSV file
df = pd.read_csv('dfRaw.csv')
del df['Unnamed: 0']
df

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,1990-01-01,4.5,0.6,7.2,7.1,0.0,284.0,29.2,61.2,1006.4,NaN
1,1990-01-02,1.6,-2.2,5.6,0.0,0.0,277.0,22.3,40.7,1025.6,NaN
2,1990-01-03,2.3,-2.2,8.9,0.0,0.0,231.0,12.2,27.7,1026.0,NaN
3,1990-01-04,4.2,-0.6,10.6,0.0,0.0,220.0,14.8,33.5,1017.0,NaN
4,1990-01-05,5.5,1.7,8.3,0.0,0.0,297.0,16.6,46.4,1018.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11906,2022-08-07,27.3,25.0,31.1,0.1,NaN,218.0,21.6,NaN,1020.7,NaN
11907,2022-08-08,27.3,24.0,31.1,0.0,NaN,217.0,20.2,NaN,1015.9,NaN
11908,2022-08-09,28.5,24.0,33.9,2.2,NaN,225.0,15.2,NaN,1013.0,NaN
11909,2022-08-10,25.5,23.0,28.9,0.0,NaN,75.0,14.1,NaN,1016.3,NaN
11910,2022-08-11,24.1,22.6,26.6,18.0,NaN,170.0,6.3,NaN,1012.1,NaN

In [17]:
df.columns

Index(['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt',
       'pres', 'tsun'],
      dtype='object')

In [33]:
df = df.rename(columns={
        'date': 'Date', 
        'tavg': 'Avg Temp (°C)', 
        'tmin': 'Min Temp (°C)', 
        'tmax': 'Max Temp (°C)', 
        'prcp': 'Precipitation (mm)', 
        'snow': 'Snow (mm)',
        'wdir': 'Wind Direction Degrees (°)',
        'wspd': 'Wind Spd (km/h)', 
        'wpgt': 'Peak Wind Gust (km/h)',
        'pres': 'Sea-Level Pressure (hPa)', 
        'tsun': 'Daily Sunshine (mins) '})

In [34]:

df.tail()

,Date,Avg Temp (°C),Min Temp (°C),Max Temp (°C),Precipitation (mm),Snow (mm),Wind Direction Degrees (°),Wind Spd (km/h),Peak Wind Gust (km/h),Sea-Level Pressure (hPa),Daily Sunshine (mins)
11906,2022-08-07,27.3,25.0,31.1,0.1,NaN,218.0,21.6,NaN,1020.7,NaN
11907,2022-08-08,27.3,24.0,31.1,0.0,NaN,217.0,20.2,NaN,1015.9,NaN
11908,2022-08-09,28.5,24.0,33.9,2.2,NaN,225.0,15.2,NaN,1013.0,NaN
11909,2022-08-10,25.5,23.0,28.9,0.0,NaN,75.0,14.1,NaN,1016.3,NaN
11910,2022-08-11,24.1,22.6,26.6,18.0,NaN,170.0,6.3,NaN,1012.1,NaN

In [4]:
# convert Date column to datetime object
from datetime import datetime

df['Date']=pd.to_datetime(df['Date'])

In [5]:
df.dtypes

Date                          datetime64[ns]
Avg Temp (°C)                        float64
Min Temp (°C)                        float64
Max Temp (°C)                        float64
Precipitation (mm)                   float64
Snow (mm)                            float64
Wind Direction Degrees (°)           float64
Wind Spd (km/h)                      float64
Peak Wind Gust (km/h)                float64
Sea-Level Pressure (hPa)             float64
Daily Sunshine (mins)                float64
dtype: object

In [16]:
df.describe()

,Avg Temp (°C),Min Temp (°C),Max Temp (°C),Precipitation (mm),Snow (mm),Wind Dir Degrees (°),Wind Spd (km/h),Peak Wind Gust (km/h),Sea-Level Pressure (hPa),Daily Sunshine (mins)
count,11894.000000,11911.000000,11911.000000,11911.000000,11904.000000,9036.000000,11911.000000,2373.000000,11723.000000,802.000000
mean,12.472701,8.537276,16.440702,2.975434,6.206653,206.088424,16.112938,38.046818,1016.902704,0.844140
std,9.139539,9.126207,9.543078,8.441054,36.036030,102.644695,6.376848,12.257061,7.467323,23.905701
min,-15.200000,-17.800000,-12.200000,0.000000,0.000000,0.000000,0.400000,13.000000,978.300000,0.000000
25%,5.200000,1.100000,8.900000,0.000000,0.000000,112.000000,11.500000,29.500000,1012.100000,0.000000
50%,12.500000,8.300000,16.700000,0.000000,0.000000,227.000000,15.100000,37.100000,1016.800000,0.000000
75%,20.700000,16.700000,25.000000,1.000000,0.000000,293.000000,19.650000,44.300000,1021.700000,0.000000
max,32.800000,27.800000,38.900000,198.100000,711.000000,359.000000,49.000000,107.300000,1043.900000,677.000000

In [7]:
df.columns

Index(['Date', 'Avg Temp (°C)', 'Min Temp (°C)', 'Max Temp (°C)',
       'Precipitation (mm)', 'Snow (mm)', 'Wind Direction Degrees (°)',
       'Wind Spd (km/h)', 'Peak Wind Gust (km/h)', 'Sea-Level Pressure (hPa)',
       'Daily Sunshine (mins) '],
      dtype='object')

In [38]:
C_to_Fdict.values()

dict_values(['Avg Temp (°F)', 'Avg Temp (°F)', 'Avg Temp (°F)'])

In [46]:
#df[df.columns[1:4]]=df[df.columns[1:4]].apply(lambda s: 9*s/5 +32)
C_to_Fdict=   {
     'Avg Temp (°C)':'Avg Temp (°F)', 
     'Min Temp (°C)':'Avg Temp (°F)',
     'Max Temp (°C)': 'Avg Temp (°F)'
     }
df_Ftemps=df[C_to_Fdict.keys()].apply(lambda s:9*s/5 + 32)
df_Ftemps.columns=C_to_Fdict.values()
print(df_Ftemps)

       Avg Temp (°F)  Avg Temp (°F)  Avg Temp (°F)
0              40.10          33.08          44.96
1              34.88          28.04          42.08
2              36.14          28.04          48.02
3              39.56          30.92          51.08
4              41.90          35.06          46.94
...              ...            ...            ...
11906          81.14          77.00          87.98
11907          81.14          75.20          87.98
11908          83.30          75.20          93.02
11909          77.90          73.40          84.02
11910          75.38          72.68          79.88

[11911 rows x 3 columns]

In [26]:
df_te

,Date,Avg Temp (°C),Min Temp (°C),Max Temp (°C),Precipitation (mm),Snow (mm),Wind Direction Degrees (°),Wind Spd (km/h),Peak Wind Gust (km/h),Sea-Level Pressure (hPa),Daily Sunshine (mins)
0,1990-01-01,104.180,91.544,112.928,7.1,0.0,284.0,29.2,61.2,1006.4,NaN
1,1990-01-02,94.784,82.472,107.744,0.0,0.0,277.0,22.3,40.7,1025.6,NaN
2,1990-01-03,97.052,82.472,118.436,0.0,0.0,231.0,12.2,27.7,1026.0,NaN
3,1990-01-04,103.208,87.656,123.944,0.0,0.0,220.0,14.8,33.5,1017.0,NaN
4,1990-01-05,107.420,95.108,116.492,0.0,0.0,297.0,16.6,46.4,1018.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11906,2022-08-07,178.052,170.600,190.364,0.1,NaN,218.0,21.6,NaN,1020.7,NaN
11907,2022-08-08,178.052,167.360,190.364,0.0,NaN,217.0,20.2,NaN,1015.9,NaN
11908,2022-08-09,181.940,167.360,199.436,2.2,NaN,225.0,15.2,NaN,1013.0,NaN
11909,2022-08-10,172.220,164.120,183.236,0.0,NaN,75.0,14.1,NaN,1016.3,NaN
11910,2022-08-11,167.684,162.824,175.784,18.0,NaN,170.0,6.3,NaN,1012.1,NaN